<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--可以让部分国产浏览器默认采用高速模式渲染页面-->
    <meta name="renderer" content="webkit">
    <!--为了让 IE 浏览器运行最新的渲染模式下-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网易云音乐</title>
    <meta name="keywords" content="网易云音乐，音乐，播放器，网易，下载，播放，DJ，免费，明星，精选，歌单，识别音乐，收藏，分享音乐，音乐互动，高音质，320K，音乐社交，官网，移动站，music.163.com">
    <meta name="description" content="网易云音乐是一款专注于发现与分享的音乐产品，依托专业音乐人、DJ、好友推荐及社交功能，为用户打造全新的音乐生活。">
    <link rel="shortcut icon" href="favicon.ico">
    <!--
    apple-touch-icon: 是苹果私有的属性，用苹果手机的safary浏览器
    作用: 指定将网页保存到主屏幕上的时候的图标，点击图标即可打开safary
    -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/appleTouch/apple-touch-icon114.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/appleTouch/apple-touch-icon152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/appleTouch/apple-touch-icon180.png">
    <!-- 移动端屏幕适配 -->
    <script>
        let scale = 1.0 / window.devicePixelRatio;
        let text = `<meta name="viewport" content="width=device-width, initial-scale=${scale}, maximum-scale=${scale}, minimum-scale=${scale}, user-scalable=no">`;
        document.write(text);
        document.documentElement.style.fontSize = window.innerWidth / 7.5 + "px";
    </script>
    <!-- 清除默认的css样式 -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/swiper.css">
    <!-- 自己的css -->
    <link rel="stylesheet/less" href="css/index.less">

</head>

<body>
    <!--  1.双飞翼布局
    1.1放一个容器, 在容器中放三个子元素
    1.2在中间的元素中再放一个元素
    1.3设置两边的尺寸, 设置中间的宽度等于100%
    1.4设置中间元素里面的盒子的margin为两边的宽度
    1.5让三个盒子往同一方向浮动
    1.6设置左边盒子的margin-left:-100%
    1.7设置右边盒子的margin-left:-自身宽度
    -->

    <!-- 头部 -->
    <!-- 通过动态添加active样式控制点击输入框之后的样式 -->
    <div class="header">
        <div class="header-center">
            <div class="header-center-box">
                <img src="images/topbar/topbar-search.png" alt="">
                <input type="text" placeholder="大家都在搜 本草纲目">
                <!-- 我的页面中间显示的 -->
                <span class="header-title">我的音乐</span>
                <!-- 朋友页面中间显示的 -->
                <div class="header-switch">
                    <i></i>
                    <span class="active">动态</span>
                    <span>附近</span>
                </div>
            </div>
        </div>
        <div class="header-left"></div>
        <div class="header-cancel">
            <a href="#">取消</a>
        </div>
        <div class="header-right"></div>
    </div>

    <!-- 内容 -->
    <div class="main">
        <div class="main-in">
            <div class="pull-down">
                <img src="images/center/pull-down.png" alt="">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="279.747 366.016 60 60" enable-background="new 279.747 366.016 60 60" xml:space="preserve">
<path id="refreshLogo" stroke-dasharray="" stroke-dashoffset="" fill="none" stroke="#000000" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" d="M301.144,374.58
	c-16.549,5.334-25.163,23.41-15.075,37.437c8.615,12.051,26.864,15.606,40.692,8.001c10.995-6.025,14.282-18.768,7.368-28.349
	c-5.555-7.705-17.229-9.977-26.07-5.137c-7.027,3.853-8.614,10.767-5.44,16.298c3.06,5.137,11.221,5.631,15.302,2.667
	c5.44-4.05,4.193-10.568,1.474-15.31c-14.282-25.09,7.254-24.694,9.975-18.966"/>
</svg>
            </div>

            <!-- Banner -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                </div>
                <div class="swiper-pagination"></div>
            </div>

            <!-- 顶部导航 -->
            <div class="nav">
                <ul>
                    <li>
                        <!-- 显示日期 -->
                        <p>
                            <img src="images/nav/home-rl.png" alt="">
                            <i>26</i>
                        </p>
                        <span>每日推荐</span>
                    </li>
                    <li>
                        <img src="images/nav/home-gd.png" alt="">
                        <span>歌单</span>
                    </li>
                    <li>
                        <img src="images/nav/home-phb.png" alt="">
                        <span>排行榜</span>
                    </li>
                    <li>
                        <img src="images/nav/home-dt.png" alt="">
                        <span>电台</span>
                    </li>
                    <li>
                        <img src="images/nav/home-zb.png" alt="">
                        <span>直播</span>
                    </li>
                </ul>
            </div>

            <!-- 推荐歌单 -->
            <div class="recommend">
                <div class="recommend-top">
                    <h3>推荐歌单</h3>
                    <span>歌单广场</span>
                </div>
                <div class="recommend-bottom">
                   
                </div>
            </div>

            <!-- 独家放送 -->
            <div class="exclusive">
                <div class="exclusive-top">
                    <h3>独家放送</h3>
                    <span>网易出品</span>
                </div>
                <div class="exclusive-bottom">
                </div>
            </div>

            <!-- 新碟新歌(独家专辑) -->
            <div class="album">
                <div class="album-top">
                    <h3>新碟新歌</h3>
                    <span>更多新碟</span>
                </div>
                <div class="album-bottom">
                    
                </div>
            </div>

            <!-- 推荐mv -->
            <div class="mv">
                <div class="mv-top">
                    <h3>推荐MV</h3>
                    <span>更多MV</span>
                </div>
                <div class="mv-bottom">
                </div>
            </div>

            <!-- 上拉加载更多 -->
            <div class="pull-up">
                <p>
                    <img src="images/center/pull-up.gif" alt="">
                    <span>上拉加载更多</span>
                </p>
            </div>
        </div>
    </div>

    <!-- 模板引擎 -->
    <!-- 轮播图 -->
    <script type="text/html" id="bannerSlide">
        <% for(let i=0,len=banners.length;i<len;i++) {%>
        <div class="swiper-slide">
            <img src="<%=banners[i].pic %>" alt="" class="fluid-img">
            <!-- 右下角广告图标 -->
            <span style="background: <%=banners[i].titleColor%>"><%=banners[i].typeTitle%></span>
        </div>
        <% } %>
    </script>
    <!-- 推荐歌单 -->
    <script type="text/html" id="recommendItem">
        <ul>
            <% for(let i=0,len=6;i<len;i++) {%>
            <li>
                <div>
                    <img src="<%=result[i].picUrl %>" class="fluid-img">
                    <p>
                        <img src="images/recommend/home-small-play.png" alt="">
                        <%
                        let res = 0;
                        let num = result[i].playCount
                        if(num / 100000000 > 1){
                            let temp = num / 100000000 + "";
                            if(temp.indexOf(".") === -1){
                                res = num / 100000000 + "亿";
                            }else{
                                res = (num / 100000000).toFixed(1) + "亿";
                            }
                        }else if(num / 10000 > 1){
                            let temp = num / 10000 + "";
                            if(temp.indexOf(".") === -1){
                                res = num / 10000 + "万";
                            }else{
                                res = (num / 10000).toFixed(1) + "万";
                            }
                        }else{
                            res = num;
                        }
                        %>
                        <span><%=res%></span>
                    </p>
                </div>
                <p class="recommend-title"><%=result[i].name %></p>
            </li>
            <% } %>
        </ul>
    </script>

    <!-- 独家放送 -->
    <script type="text/html" id="exclusiveItem">
        <ul>
            <% for(let i=0,len=result.length;i<len;i++) {%>
                <li>
                    <div>
                        <i></i>
                        <img src="<%=result[i].sPicUrl %>" class="fluid-img">
                    </div>
                    <p class="exclusive-title"><%=result[i].name %></p>
                </li>
            <% } %>
        </ul>
    </script>

    <!-- 新歌新碟 -->
    <script type="text/html" id="albumItem">
        <ul>
            <% for(let i=0,len=albums.length;i<len;i++) {%>
            <li>
                <div>
                    <img src="<%=albums[i].picUrl %>" class="fluid-img">
                </div>
                <p class="album-title"><%=albums[i].name %></p>
                <p class="album-singer"><%=albums[i].artists[0].name %></p>
            </li>
            <% } %>
        </ul>
    </script>

    <!-- 推荐MV -->
    <script type="text/html" id="mvItem">
        <ul>
            <% for(let i=0,len=result.length;i<len;i++) {%>
            <li>
                <div>
                    <img src="<%=result[i].picUrl %>" class="fluid-img">
                    <p>
                        <img src="images/mv/home-small-video.png" alt="">
                        <span><%=result[i].playCount%></span>
                    </p>
                </div>
                <p class="mv-title"><%=result[i].name %></p>
                <p class="mv-singer"><%=result[i].artistName %></p>
            </li>
            <% } %>
        </ul>
    </script>

    <!-- 底部 -->
    <div class="footer">
        <ul>
            <li class="active">
                <img src="images/footer/toolbar-discovery-selected.png" alt="">
                <span>发现</span>
            </li>
            <li>
                <img src="images/footer/toolbar-video-normal.png" alt="">
                <span>视频</span>
            </li>
            <li>
                <img src="images/footer/toolbar-me-normal.png" alt="">
                <span>我的</span>
            </li>
            <li>
                <img src="images/footer/toolbar-friend-normal.png" alt="">
                <span>朋友</span>
            </li>
            <li>
                <img src="images/footer/toolbar-account-normal.png" alt="">
                <span>账号</span>
            </li>
        </ul>
    </div>

    <script src="js/less.js"></script>
    <script src="js/zepto.js"></script>
    <script src="js/fx.js"></script>
    <script src="js/fx_methods.js"></script>
    <script src="js/iscroll-probe.js"></script>
    <script src="js/swiper.js"></script>
    <script src="js/axios.js"></script>
    <script src="js/api.js"></script>
    <script src="js/template-web.js"></script>
    <script src="js/clamp.js"></script>
    <script src="js/index.js"></script>
</body>

</html>